//- +e('strong', 'This will appear 10 times')
//-   p This will appear 10 times
mixin e(element, text)
	- var element = typeof element != "undefined" ? element : 'div'
	- element = element != "" ? element : 'div'
	#{element}&attributes(attributes)= text
		block

//- Pre mixin
//- @mixin +pre(class)
//- @param {string} cls: class name
mixin pre(cls)
	unless cls
		- cls = ''
	pre(class=cls)
		code
			block

//- close mixin
//- @mixin +close(dismiss)
//- @param {string} dismiss: ex - alert, modal
mixin close(dismiss)
	unless dismiss
		- var dismiss = ''
	button.close(type='button', data-dismiss=dismiss aria-label='Close')
		span(aria-hidden='true') ×

//- embed mixin
//- @mixin +embed()
//- @param {string} _src: link of media
//- @param {string} ratios: ratio of embed
mixin embed(_src, ratios)
	unless !_src
	.embed-responsive(class=`embed-responsive-${ratios}`)
		iframe.embed-responsive-item(src=_src, allowfullscreen='')

mixin embed-21by9(_src)
	+embed(_src, '21by9')
mixin embed-16by9(_src)
	+embed(_src, '16by9')
mixin embed-4by3(_src)
	+embed(_src, '4by3')
mixin embed-1by1(_src)
	+embed(_src, '1by1')

mixin blockquote(text,footer,author,style)
	- var text = text || ''
	- var style = style || ''
	- var footer = footer || ''
	- var author = author || ''
	blockquote.blockquote(class=style)
		!= text
		block
		if(footer !=='' || author !=='' )
			footer.blockquote-footer!= footer + ' '
				cite(title=author)!= author

mixin blockquote-center(text,footer,author,style)
	- var style = ' ' + style || ''
	+blockquote(text,footer,author,'text-center' + style)

mixin blockquote-right(text,footer,author,style)
	- var style = ' ' + style || ''
	+blockquote(text,footer,author,'text-right' + style)

mixin bgImg(image,className, altVal)
	div(class=className style="background-image:url('" + image + "')")
		img(src=image alt=altVal)

//background image for Link
mixin bgImgLink(image,className,url)
	div(class=className)
		a(style="background-image:url('" + image + "')" href=url)
			img(src=image alt="")

//item like search page
mixin itemEvent2(image,className,url,title)
	.row.item
		.col-sm-6.col-md-4
			div(class=className)
				a(style="background-image:url('" + image + "')" href=url)
					img(src=image alt="")
		.col-sm-6.col-md-8
			.info
				.date 21/09/2019
				h4
					a(href=url)
						= title
				.des
					p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet

//item new big
mixin itemBigEvent(image,className,url,title)
	.row
		.col-md-6
			.image
				a(href=url)
					img(data-src= image  alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg==").lazy
		.col-md-6
			.info
				.date 21/09/2019
				h3
					a(href=url)
						= title
				.des
						| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
				.btnDiv-2
					+a-btn-primary('Xem thêm',"#")
					
mixin itemBigEventSlider(image,className,url,title)
	.row
		.col-md-6
			.image
				a(href=url)
					img(data-lazy= image  alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg==")
		.col-md-6
			.info
				.date 21/09/2019
				h3
					a(href=url)
						= title
				.des
						| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
				.btnDiv-2
					+a-btn-primary('Xem thêm',"#")

mixin itemEvent(image,className,url,title)
	.itemEvent
		+bgImgLink(image,'image',"#")
		.info
			.date 21/09/2019
			h4: a(href="#") Lorem Ipsum has been the industry's standard dummy text
			.des
			| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting

mixin itemStory(name,image,title,info)
	.item
		.year
			span
				= name
		.content
			.inner
				.image
					img(src=image alt="")
				.info
					h4
						= title
					.des(data-readmore) !{info}

mixin headerlanding(title,des)
	.page-header-content
		h2
			span
				= title
		.des !{des}

mixin faq(image,title)
	.item
		.info
			img(src=image alt="")
			h2 
				= title
			p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt uting Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam en nonumy eirmod tempor invidunt ut labore et dolore magna.
mixin sSlideNewThumb(arrayNews)
	each x in arrayNews  
		.itemEvent
			.itemEventWrap
				+bgImgLink(x.img,'image',"#")
				.info
						.date 21/09/2019
						h4: a(href="#") 
							= x.title
						.des-content
							| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard

mixin itemLanding(link,image,imagesp,title,title2,icon,des,array)
	unless title2
		div(class="bgImg bgImgpc" style="background-image:url('" + image + "')")
			div(class="bgImgsp" style="background-image:url('" + imagesp + "')")
				.container
					.info
						.page-header
							h3
								span.icon-text !{icon}
								span.ttl-text
									= title
						.des !{des}
						.btnDiv
							+a-btn-primary('Xem chi tiết',link)
					.sSliderNew
						+sSlideNewThumb(array)
	else
		div(class="bgImg bgImgpc" style="background-image:url('" + image + "')")
			div(class="bgImgsp" style="background-image:url('" + imagesp + "')")
				.container
					.info
						.page-header
							h2
								span.icon-text !{icon}
								span.ttl-text
									= title
							h3
								= title2
						.des !{des}
						.btnDiv
							+a-btn-primary('Xem thêm',link)
					.sSliderNew
						+sSlideNewThumb(array)
		