extends ../layouts/_layout_default

block setting
    - title = "Công ty cổ phần sữa VitaDairy Việt Nam"
    - mainActive = "san-pham"

block content
    .sMainChild.sProductDetail.sProduct.sProductList.sNew
        .sBannerChild
            .image.pc: img(src=imgPath + 'sanpham/banner-san-pham-chi-tiet.jpg' alt="")
            .image.sp: img(src=imgPath + 'sanpham/banner-san-pham-chi-tiet-sp.jpg' alt="")
        .sMainContent
            .container
                +breadcrumb([{'title':'Sản phẩm','link':'#'},{'title':' Sản phẩm chi tiết'}])
            .sLandingProduct
                .bgImg(style="background-image:url(" + imgPath + 'sanpham/bg-san-pham-chi-tiet.jpg' + ")")
                    .container
                        .sBoxProduct
                            .row
                                .col-sm-6
                                    .info
                                        .page-header
                                            h3
                                                span.icon-text
                                                    <svg viewBox="0 0 40 40" class="icon-shape">
                                                        <use xlink:href="#mom1"></use>
                                                    </svg>
                                                span.ttl-text Miễn dịch khoẻ giảm bệnh vặt
                                        .des
                                            p ColosBaby sữa bột pha sẵn với công thức tiên phong bổ sung sữa non từ Mỹ, giúp bé miễn dịch khỏe tạo dựng nền tảng phát triển vững chắc cả về thể chất và trí não. Với ColosBaby Hộp pha sẵn, mẹ yên tâm vì bé đến trường khỏe mạnh, giúp cho hành trình học hỏi không gián đoạn bởi bệnh vặt.
                                            p Tăng cường DHA, Choline, Vitamin A giúp hoàn thiện và phát triển não bộ, thị giác, tăng khả năng nhận thức và học hỏi của trẻ.
                                            p Colosbaby với công thức tăng cường sữa non thu được sau 24h đầu từ Mỹ, bổ sung các dưỡng chất thiết yếu Kẽm, Selen, Vitamin & Khoáng chất giúp tăng cường sức đề kháng, cho bé hệ miễn dịch khỏe mạnh, bảo vệ trẻ khỏi các bệnh vặt tiêu hóa và hô hấp.
                                .col-sm-6.align-self-end
                                    .image
                                        img(src= imgPath + 'sanpham/boy.png' alt="")
                                        span.img-small
                                            img(src= imgPath + 'sanpham/colos-baby.png' alt="")
            .sLandingProductInfo
                .container
                    .page-header
                        h3
                            span.icon-text
                                <svg viewBox="0 0 36.554 50" class="icon-shape">
                                    <use xlink:href="#ic-san-pham-chi-tiet-1"></use>
                                </svg>
                            span.ttl-text Lợi ích từ ColosBaby
                    .row
                        .col-sm-6.align-self-end
                            .image
                                img(src= imgPath + 'sanpham/img-10.png' alt="")
                        .col-sm-6
                            .infoSlider.infoSliderProduct
                                .itemWrap
                                    .item
                                        span.txt-icon
                                            <svg viewBox="0 0 60 53.4" class="icon-shape">
                                                <use xlink:href="#ic-loi-ich-1"></use>
                                            </svg>
                                        .des
                                            h4 Ngủ ngon mau lớn
                                            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                    .item
                                        span.txt-icon
                                            <svg viewBox="0 0 40 39.864" class="icon-shape">
                                                <use xlink:href="#nuoiduong2"></use>
                                            </svg>
                                        
                                        .des
                                            h4 Chống táo bón
                                            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                    .item
                                        span.txt-icon
                                            <svg viewBox="0 0 60 68.889" class="icon-shape">
                                                <use xlink:href="#nuoiduong3"></use>
                                            </svg>
                                        .des
                                            h4 Phát triển chiều cao 
                                            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                .itemWrap
                                    .item
                                        span.txt-icon
                                            <svg viewBox="0 0 60 53.4" class="icon-shape">
                                                <use xlink:href="#ic-loi-ich-1"></use>
                                            </svg>
                                        .des
                                            h4 Ngủ ngon mau lớn 2
                                            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                    .item
                                        span.txt-icon
                                            <svg viewBox="0 0 40 39.864" class="icon-shape">
                                                <use xlink:href="#nuoiduong2"></use>
                                            </svg>
                                        
                                        .des
                                            h4 Chống táo bón 2
                                            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                    .item
                                        span.txt-icon
                                            <svg viewBox="0 0 60 68.889" class="icon-shape">
                                                <use xlink:href="#nuoiduong3"></use>
                                            </svg>
                                        .des
                                            h4 Phát triển chiều cao  2
                                            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
            .sLandingProductContent
                .container
                    .page-header
                        h3
                            span.icon-text
                                <svg viewBox="0 0 36.554 50" class="icon-shape">
                                    <use xlink:href="#ic-san-pham-chi-tiet-2"></use>
                                </svg>
                            span.ttl-text Thành phần dinh dưỡng
                    
                    .tableDetail
                        //- a.btn-nav-tab(href="#")  Thành phần dinh dưỡng
                        ul#myList.list-group.list-group-tab.sNavLink(role='tablist')
                            li: a.active(data-toggle='list', href='#navTab1', role='tab')
                                    span.text-tab ColosBaby Gold 0+
                            li: a(data-toggle='list', href='#navTab2', role='tab')
                                    span.text-tab ColosBaby Gold 1+
                            li: a(data-toggle='list', href='#navTab3', role='tab') 
                                    span.text-tab ColosBaby Gold 2+
                        .imgThumb
                            img(src= imgPath + 'sanpham/img-table-1.png' alt="")
                        .tableDetailWrap
                            .tab-content
                                #navTab1.tab-pane.active(role='tabpanel')
                                    .table-cont
                                        .fixed_headers
                                            .itemtr
                                                .th.col-3-td  Thành phần trung bình
                                                .th.col-3-td  Trong 100g bột
                                                .th.col-3-td  Trong 1 ly đã pha
                                                .th.col-3-td  Đơn vị
                                        .scroll-ui-table
                                            .itemtr
                                                .td.col-3-td Năng lượng
                                                .td.col-3-td 465
                                                .td.col-3-td 177
                                                .td.col-3-td kCAI
                                            .itemtr
                                                .td.col-3-td Chất đạm
                                                .td.col-3-td 465
                                                .td.col-3-td 177
                                                .td.col-3-td kCAI
                                            .itemtr
                                                .td.col-3-td Trytophan
                                                .td.col-3-td 465
                                                .td.col-3-td 177
                                                .td.col-3-td kCAI
                                            .itemtr
                                                .td.col-3-td Chất béo
                                                .td.col-3-td 465
                                                .td.col-3-td 177
                                                .td.col-3-td kCAI
                                            .itemtr
                                                .td.col-3-td Acid linoleic
                                                .td.col-3-td 465
                                                .td.col-3-td 177
                                                .td.col-3-td kCAI
                                            .itemtr
                                                .td.col-3-td Acid Alpha 0 linolenic
                                                .td.col-3-td 465
                                                .td.col-3-td 177
                                                .td.col-3-td kCAI
                                            .itemtr
                                                .td.col-3-td DHA (Dococahexacnoic acid)
                                                .td.col-3-td 465
                                                .td.col-3-td 177
                                                .td.col-3-td kCAI
                                #navTab2.tab-pane(role='tabpanel')
                                    .table-cont
                                        .fixed_headers
                                            .itemtr
                                                .th.col-3-td  Thành phần trung bình
                                                .th.col-3-td  Trong 100g bột
                                                .th.col-3-td  Trong 1 ly đã pha
                                                .th.col-3-td  Đơn vị
                                        .scroll-ui-table
                                            .itemtr
                                                .td.col-3-td Năng lượng
                                                .td.col-3-td 465
                                                .td.col-3-td 177
                                                .td.col-3-td kCAI
                                            .itemtr
                                                .td.col-3-td Chất đạm
                                                .td.col-3-td 465
                                                .td.col-3-td 177
                                                .td.col-3-td kCAI
                                            .itemtr
                                                .td.col-3-td Trytophan
                                                .td.col-3-td 465
                                                .td.col-3-td 177
                                                .td.col-3-td kCAI
                                            .itemtr
                                                .td.col-3-td Chất béo
                                                .td.col-3-td 465
                                                .td.col-3-td 177
                                                .td.col-3-td kCAI
                                            .itemtr
                                                .td.col-3-td Acid linoleic
                                                .td.col-3-td 465
                                                .td.col-3-td 177
                                                .td.col-3-td kCAI
                                            .itemtr
                                                .td.col-3-td Acid Alpha 0 linolenic
                                                .td.col-3-td 465
                                                .td.col-3-td 177
                                                .td.col-3-td kCAI
                                            .itemtr
                                                .td.col-3-td DHA (Dococahexacnoic acid)
                                                .td.col-3-td 465
                                                .td.col-3-td 177
                                                .td.col-3-td kCAI
                                #navTab3.tab-pane(role='tabpanel')
                                    .table-cont
                                        .fixed_headers
                                            .itemtr
                                                .th.col-3-td  Thành phần trung bình
                                                .th.col-3-td  Trong 100g bột
                                                .th.col-3-td  Trong 1 ly đã pha
                                                .th.col-3-td  Đơn vị
                                        .scroll-ui-table
                                            .itemtr
                                                .td.col-3-td Năng lượng
                                                .td.col-3-td 465
                                                .td.col-3-td 177
                                                .td.col-3-td kCAI
                                            .itemtr
                                                .td.col-3-td Chất đạm
                                                .td.col-3-td 465
                                                .td.col-3-td 177
                                                .td.col-3-td kCAI
                                            .itemtr
                                                .td.col-3-td Trytophan
                                                .td.col-3-td 465
                                                .td.col-3-td 177
                                                .td.col-3-td kCAI
                                            .itemtr
                                                .td.col-3-td Chất béo
                                                .td.col-3-td 465
                                                .td.col-3-td 177
                                                .td.col-3-td kCAI
                                            .itemtr
                                                .td.col-3-td Acid linoleic
                                                .td.col-3-td 465
                                                .td.col-3-td 177
                                                .td.col-3-td kCAI
                                            .itemtr
                                                .td.col-3-td Acid Alpha 0 linolenic
                                                .td.col-3-td 465
                                                .td.col-3-td 177
                                                .td.col-3-td kCAI
                                            .itemtr
                                                .td.col-3-td DHA (Dococahexacnoic acid)
                                                .td.col-3-td 465
                                                .td.col-3-td 177
                                                .td.col-3-td kCAI
            .sLandingProductContent-2.bg-chi-tiet-san-pham-2
                .container
                    .page-header
                            h3
                                span.icon-text
                                    <svg viewBox="0 0 36.554 50" class="icon-shape">
                                        <use xlink:href="#ic-san-pham-1"></use>
                                    </svg>
                                span.ttl-text Chủng loại và quy cách đóng 
                    .row
                        .col-lg-5
                            p ColosBaby gồm các chủng loại bao bì sau:
                            p Sữa Bột <br>Hộp thiếc 400 g<br>Hộp thiếc 900 g<br>Hộp thiếc 1500 g
                            p Sữa Bột Pha Sẵn <br>Lốc 4 hộp 110 ml <br>Lốc 4 hộp 180 ml
                            .row.btn-group2
                                .col-6
                                    +a-btn-primary('Mua ngay','#','','ic-shop')
                                .col-6
                                    +a-btn-primary('Tìm cửa hàng','#','','ic-shop-2')
                        .col-lg-7
                            .image
                                img(src= imgPath + 'sanpham/colos-baby-2.png' alt="")
            .sLandingProductContent-4
                .container
                    .page-header
                        h3
                            span.icon-text
                                <svg viewBox="0 0 36.554 50" class="icon-shape">
                                    <use xlink:href="#ic-san-pham-chi-tiet-3"></use>
                                </svg>
                            span.ttl-text Sử dụng và bảo quản      
                    .sUse
                        .row
                            .col-lg-5
                                .image
                                    img(src=imgPath + 'nuoidaycon/kid.png' alt="")
                                    span.ttl_line
                                        b Sản phẩm cho bé từ 2 tuổi trở lên
                            .col-lg-7
                                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                .infoSlider.infoSliderProduct.infoSlider-2
                                    .itemWrap
                                        .item
                                            span.txt-icon
                                                img(src=imgPath + 'nuoidaycon/milk.svg' alt="")
                                            .des
                                                h4 Bước 01 - Lorem ipsum set dolor
                                                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                        .item
                                            span.txt-icon
                                                img(src=imgPath + 'nuoidaycon/milk.svg' alt="")
                                            .des
                                                h4 Bước 02 - Lorem ipsum set dolor
                                                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                        .item
                                            span.txt-icon
                                                img(src=imgPath + 'nuoidaycon/milk.svg' alt="")
                                            .des
                                                h4 Bước 03 - Lorem ipsum set dolor
                                                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                        .item
                                            span.txt-icon
                                                img(src=imgPath + 'nuoidaycon/milk.svg' alt="")
                                            .des
                                                h4 Bước 04 - Lorem ipsum set dolor
                                                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                    .itemWrap
                                        .item
                                            span.txt-icon
                                                img(src=imgPath + 'nuoidaycon/milk.svg' alt="")
                                            .des
                                                h4 Bước 01 - Lorem ipsum set dolor
                                                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                        .item
                                            span.txt-icon
                                                img(src=imgPath + 'nuoidaycon/milk.svg' alt="")
                                            .des
                                                h4 Bước 02 - Lorem ipsum set dolor
                                                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                        .item
                                            span.txt-icon
                                                img(src=imgPath + 'nuoidaycon/milk.svg' alt="")
                                            .des
                                                h4 Bước 03 - Lorem ipsum set dolor
                                                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                        .item
                                            span.txt-icon
                                                img(src=imgPath + 'nuoidaycon/milk.svg' alt="")
                                            .des
                                                h4 Bước 04 - Lorem ipsum set dolor
                                                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.          
            .bg-khuyen-mai
                .container
                    .page-header
                        ul#myList.list-group.list-group-tab(role='tablist')
                            li: a.active(data-toggle='list', href='#newtab1', role='tab') 
                                    span.icon-text
                                        <svg viewBox="0 0 57.897 50" class="icon-shape">
                                            <use xlink:href="#ic-news"></use>
                                        </svg>
                                    span.ttl-text Kiến thức dinh dưỡng
                            li: a(data-toggle='list', href='#newtab2', role='tab') 
                                    span.icon-text
                                        <svg viewBox="0 0 57.897 50" class="icon-shape">
                                            <use xlink:href="#ic-khuyen-mai"></use>
                                        </svg>
                                    span.ttl-text Thông tin khuyến mãi
                    -
                        var news = [
                            {'title' : "VitaDairy vươn tầm thế giới cùng Gulfood Dubai", 'img': 'chiendichquangcao/img-02.jpg','url' : "#"},
                            {'title' : "VitaDairy – Thương hiệu sữa Việt hàng đầu ứng dụng…", 'img': 'chiendichquangcao/img-03.jpg','url' : "#"},
                            {'title' : "Sữa VitaDairy được Viện dinh dưỡng Việt Nam khuyên dùng", 'img': 'chiendichquangcao/img-04.jpg','url' : "#"},
                            {'title' : "Bà Nguyễn Tú Anh, nhà sáng lập Công ty VitaDairy: Nữ…", 'img': 'chiendichquangcao/img-05.jpg','url' : "#"},
                            {'title' : "VitaDairy là đối tác duy nhất của Bộ Y tế trong năm hành…", 'img': 'chiendichquangcao/img-06.jpg','url' : "#"},
                            {'title' : "Hãng sữa VitaDairy xây thêm nhà máy 6 triệu USD", 'img': 'chiendichquangcao/img-07.jpg','url' : "#"}
                        ]
                    -
                        var news2 = [
                            {'title' : "2V itaDairy vươn tầm thế giới cùng Gulfood Dubai", 'img': 'chiendichquangcao/img-02.jpg','url' : "#"},
                            {'title' : "2 VitaDairy – Thương hiệu sữa Việt hàng đầu ứng dụng…", 'img': 'chiendichquangcao/img-03.jpg','url' : "#"},
                            {'title' : "2 Sữa VitaDairy được Viện dinh dưỡng Việt Nam khuyên dùng", 'img': 'chiendichquangcao/img-04.jpg','url' : "#"},
                            {'title' : "2 Bà Nguyễn Tú Anh, nhà sáng lập Công ty VitaDairy: Nữ…", 'img': 'chiendichquangcao/img-05.jpg','url' : "#"},
                            {'title' : "2 VitaDairy là đối tác duy nhất của Bộ Y tế trong năm hành…", 'img': 'chiendichquangcao/img-06.jpg','url' : "#"},
                            {'title' : "2 Hãng sữa VitaDairy xây thêm nhà máy 6 triệu USD", 'img': 'chiendichquangcao/img-07.jpg','url' : "#"}
                        ]
                    .tab-content
                        #newtab1.tab-pane.active(role='tabpanel')
                            .sNewsSlider
                                .sNewsSliderInner
                                    for y in news2
                                        .item
                                            a(href=y.url)
                                                img(data-lazy= imgPath + y.img alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg==")
                                            .info
                                                .date 21/09/2019
                                                a(href=y.url)
                                                    = y.title
                                                p 1 Lorem ipsum dolor sit amet, consec tetur adip isicing elit, sed do eiusmod tempor 
                                                .btnDiv.text-center
                                                    +a-btn-primary('Xem thể lệ','#')

                        #newtab2.tab-pane(role='tabpanel')
                            .sNewsSlider
                                .sNewsSliderInner
                                    for x in news
                                        .item
                                            a(href=x.url)
                                                img(data-lazy= imgPath + x.img alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg==")
                                            .info
                                                .date 21/09/2019
                                                a(href=x.url)
                                                    = x.title
                                                p 2 Lorem ipsum dolor sit amet, consec tetur adip isicing elit, sed do eiusmod tempor 
                                                .btnDiv.text-center
                                                    +a-btn-primary('Xem thể lệ','#')
            .sLandingProductContent-3.bg-chi-tiet-san-pham-3
                .container
                    .page-header
                        h3
                            span.icon-text
                                <svg viewBox="0 0 36.554 50" class="icon-shape">
                                    <use xlink:href="#ic-san-pham-chi-tiet-3"></use>
                                </svg>
                            span.ttl-text Hồ sơ công bố sản phẩm
                    .sFileSlider
                        .item
                            .info
                                span.icon-down
                                p Lorem ipsum dolor sit amet, consetetur elitr, sed diam nonumy eirmod tempor.
                        .item
                            .info
                                span.icon-down
                                p Lorem ipsum dolor sit amet, consetetur elitr, sed diam nonumy eirmod tempor.
                        .item
                            .info
                                span.icon-down
                                p Lorem ipsum dolor sit amet, consetetur elitr, sed diam nonumy eirmod tempor.
                        .item
                            .info
                                span.icon-down
                                p Lorem ipsum dolor sit amet, consetetur elitr, sed diam nonumy eirmod tempor.
        .sMainContent-news.bg-dangky-3
            .container
                .page-header
                    h3
                        span.icon-text
                            <svg viewBox="0 0 48 50" class="icon-shape">
                                <use xlink:href="#ic-san-pham-1"></use>
                            </svg>
                        span.ttl-text Sản phẩm liên quan
                .sProductSlider2
                    .item
                        .image
                            a(href="#"): img(src= imgPath + 'sanpham/product-1.png' alt="")
                        h4 Colosbaby 2+ 800g
                    .item
                        .image
                            a(href="#"): img(src= imgPath + 'sanpham/product-2.png' alt="")
                        h4 Vitagrow 4 400g
                    .item
                        .image
                            a(href="#"): img(src= imgPath + 'sanpham/product-3.png' alt="")
                        h4 ColosBaby Hộp Pha Sẵn
                    .item
                        .image
                            a(href="#"): img(src= imgPath + 'sanpham/product-1.png' alt="")
                        h4 Colosbaby 2+ 800g
                    .item
                        .image
                            a(href="#"): img(src= imgPath + 'sanpham/product-2.png' alt="")
                        h4 Vitagrow 4 400g
                    .item
                        .image
                            a(href="#"): img(src= imgPath + 'sanpham/product-3.png' alt="")
                        h4 ColosBaby Hộp Pha Sẵn                   