footer.footer
    .container
        .row
            .col-6.col-lg-3
                h4 Liên kết nhanh
                ul
                    li: a(href=url + 'truyenthong/thongtinkhuyenmai.html') Thông tin khuyến mãi
                    li: a(href=url + 'muahang.html') Mua hàng
                    li: a(href=url + 'dieukhoansudung.html') Điều khoản sử dụng
                    li: a(href=url + 'chinhsachbaomat.html') Chính sách bảo mật
                    li: a(href=url + 'sitemap.html') Sơ đồ Website
            .col-6.col-lg-3
                h4 Về VitaDairy
                ul
                    li: a(href=url + 'vitadairy/cauchuyenvitadairy.html') Câu chuyện VitaDairy
                    li: a(href=url + 'vitadairy/camketchatluong.html') Cam kết chất lượng
                    li: a(href=url + 'vitadairy/phattrienbenvung.html') Phát triển bền vững
                    li: a(href=url + 'doitacphanphoi') Đối tác và phân phối
                    li: a(href=url + 'tuyendung') Tuyển dụng
            .col-6.col-lg-3
                h4 Sản phẩm VitaDairy
                ul
                    li: a(href=url +  'sanpham.html#sProductItem1') Sản phẩm dinh dưỡng cho mẹ
                    li: a(href=url +  'sanpham.html#sProductItem2') Sản phẩm dinh dưỡng cho bé
                    li: a(href=url +  'sanpham.html#sProductItem3') Sản phẩm dinh dưỡng cho người lớn
            .col-6.col-lg-3
                h4 Kiến thức từ chuyên gia
                ul
                    li: a(href= url + 'biquyetmekhoe.html') Bí quyết mẹ khoẻ
                    li: a(href= url + 'nuoiduongbeyeu.html') Nuôi dưỡng bé yêu
                    li: a(href= url + 'chamsocnguoilontuoi.html') Chăm sóc người lớn tuổi
                    li: a(href=url + 'tuvandinhduong.html') Tư vấn dinh dưỡng

        hr
        .row
            .col-lg-6
                h4 Công ty cổ phần sữa VitaDairy Việt Nam
                table
                    tr
                        td
                            span.ic-earth
                        td Website: <a href="www.vitadairy.vn">www.vitadairy.vn</a>   
                    tr
                        td
                            span.ic-mail
                        td Email: <a href="mailto:info@vitadairy.vn">info@vitadairy.vn</a>
                    tr
                        td
                            span.ic-phone
                        td Hotline: <a href="tel:+1900633599">1900 633 599</a>  
            .col-lg-3
                h4 Văn phòng tại Hà Nội
                address            
                    p Tầng 20 Khách sạn Mường Thanh Grand Hà Nội, Lô CC2 Bắc Linh Đàm, Q. Hoàng Mai, Hà Nội<br>Tel/Fax: (024) 3540 9193
            .col-lg-3
                h4 Trụ sở tại TP. Hồ Chí Minh
                address 
                    p Tầng 9, Empire Tower 26 – 28, Hàm Nghi, P. Bến Nghé, Q.1, Tp. Hồ Chí Minh<br>Tel/Fax: (028) 39152 111 <span class="sp">- (028) 36369658</span>
        .grpShare
            .item
                a(href="#")
                    span.ic-fb
                a(href="#")
                    span.ic-ytb
                span.txt-footer Kết nối với<br> VitaDairy
            .item
                a(href="#")
                    span.ic-shop
                span.txt-footer Mua hàng <br> <a href="#">Hotline: 1900 633 559</a>  
            .item
                a(href="#")
                    span.ic-chat
                span.txt-footer Tư vấn <br> cùng chuyên gia
            .item
                img(src=imgPath + "logo-bo-cong-thuong.jpg" alt="")
    .copyright
        .container
            .row
                .col-md-12.text-center
                    p Bản quyền thuộc về VitaDairy © 2019
    .footer__totop.toTop
        a(href="#").to-top
// End Footer