extends layouts/_layout_default

block setting
    - title = "Công ty cổ phần sữa VitaDairy Việt Nam"

block content
    section.sBanner
        .sBannerInner
            .homeSlider
                .homeSlider__image
                    .image.pc: img(src=imgPath + 'slider/slider-01.jpg')
                    .image.sp: img(src=imgPath + 'slider/slider-01-sp.png')
                .homeSlider__image
                    .image.pc: img(src=imgPath + 'slider/slider-02.jpg')
                    .image.sp: img(src=imgPath + 'slider/slider-02-sp.png')
                .homeSlider__image
                    .image.pc: img(src=imgPath + 'slider/slider-03.jpg')
                    .image.sp: img(src=imgPath + 'slider/slider-03-sp.png')
        a(href="#sMainSestion").scroll-down
            i
    section.fixHeight.sMain#sMainSestion(data-waypoint="70%")
        .container
            .sHomeAbout
                
                .row
                    .col-lg-6.align-self-center
                        .page-header
                            h2
                                span.icon-text.icon-ttl-1
                                span.ttl-text VitaDairy
                            h3 Nghĩa vụ vun bồi sức sống
                        .info
                            .imgIcon
                                span.icon-1
                                    i.normal
                                    //i.normal-rorate
                                span.icon-2
                                    i.normal
                                    //- i.normal-rorate
                                span.icon-3
                                    i.normal
                                    //- i.normal-rorate
                                //- img(src= imgPath + 'nghiavu.png' alt="")
                            .des
                                p Tại VitaDairy, chúng tôi lấy giá trị cốt lõi NHÂN ĐẠO – TRUNG THỰC – TRÁCH NHIỆM để truyền cảm hứng và lan tỏa tinh thần VÌ CON NGƯỜI đến với tập thể cán bộ nhân viên. VitaDairy được thành lập vì mục tiêu con người và sẽ luôn nỗ lực hết mình vì điều đó.
                            .btnDiv
                                +a-btn-primary('Xem thêm',url + 'vitadairy/index.html')
                    .col-lg-6
                        .image
                            img(src= imgPath + 'img01.png' alt="")

    //-sMain-2
    section.fixHeight.sMain-2(data-waypoint="70%")
        .container
            .sHomeKnow
                .row
                    .col-lg-6
                        .info
                            .page-header
                                h2
                                    span.icon-text.icon-ttl-2
                                    span.ttl-text Kiến thức
                                h3 Từ chuyên gia
                            .des
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                ul
                                    li
                                        span.icon-small.icon-child
                                        span.icon-text Bí quyết mẹ khỏe
                                        span.icon-btn
                                            +a-btn-primary('Xem thêm', url + 'biquyetmekhoe.html')
                                    li
                                        span.icon-small.icon-moon
                                        span.icon-text Nuôi dưỡng bé yêu
                                        span.icon-btn
                                            +a-btn-primary('Xem thêm', url + 'nuoiduongbeyeu.html')
                                    li
                                        span.icon-small.icon-grand
                                        span.icon-text Chăm sóc người lớn tuổi
                                        span.icon-btn
                                            +a-btn-primary('Xem thêm', url + 'chamsocnguoilontuoi.html')
                    .col-lg-6.align-self-end
                        .image
                            img(data-src= imgPath + 'img-kienthuc.png' alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg==").lazy
    //- sMain-3
    section.fixHeight.sMain-3(data-waypoint="70%")
        .container
            .sHomeAdv
                .page-header
                            h2
                                span.icon-text.icon-ttl-3
                                span.ttl-text Tư vấn dinh dưỡng
                            h3 Từ các chuyên gia dinh dưỡng <br>đầu ngành
                            a(href="tel:+1900633559"): img(src= imgPath + 'hotline.svg' alt="")
                .row
                    .col-lg-7.align-self-end
                        .image
                            img(data-src= imgPath + 'img-tuvan.png' alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg==").lazy
                    .col-lg-5.align-self-center
                        .info
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet
                        .btnDiv
                            +a-btn-primary('Xem thêm',url + 'tuvandinhduong.html')
    //- sMain-4
    section.fixHeight.sMain-4(data-waypoint="70%")
        .container
            .sHomeProduct
                .page-header
                    h2
                        span.icon-text.icon-ttl-4
                        span.ttl-text Danh mục
                    h3 Sản phẩm
                -
                    var products = [
                        {'title': 'Sữa cho mẹ bầu',     'icon': 'icon-child-blue','img': 'me-bau.png' , 'url': url +  'sanpham.html#sProductItem1','imghover' : 'me-bau-hover.png'},
                        {'title': 'Sữa cho bé',     'icon': 'icon-moon-blue','img': 'sua-cho-be.png' ,'url':url +  'sanpham.html#sProductItem2','imghover' : 'sua-cho-be-hover.png'},
                        {'title': 'Sữa cho người lớn tuổi',  'icon': 'icon-grand-blue','img': 'sua-cho-ong-ba.png'  ,'url': url +  'sanpham.html#sProductItem3','imghover' : 'sua-cho-ong-ba-hover.png'}
                    ];
                .sGridProduct
                    for name in products
                        .sGridProductItem
                            .image
                                a(href=name.url)
                                    span.imgNormal
                                        img(data-src= imgPath + name.img alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg==").lazy
                                    span.imgHover
                                        img(data-src= imgPath + name.imghover alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg==").lazy
                                    
                            .info
                                h3 
                                    span.icon-small(class=name.icon)
                                    span.icon-text-title 
                                        = name.title
                                p Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor 
                                .btnDiv
                                    +a-btn-primary('Xem thêm',name.url)
    //- sMain-5
    section.fixHeight.sMain-5(data-waypoint="70%")
        .container
            .sHomeProduct2
                .page-header
                    h2
                        span.icon-text.icon-ttl-5
                        span.ttl-text Khám phá ngay
                    h3 Các sản phẩm dinh dưỡng khoa học từ VitaDairy
                    p Lorem ipsum dolor sit amet, adipisicing elit, sed doLorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.adipisicing elit, sed doLorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    .btnDiv
                        +a-btn-primary('Xem thêm',url +  'sanpham.html')
                .sHomeProductSlider
                    .sHomeProductSliderInner
                        .item
                            .image
                                a(href=url +  'sanpham/sanphamchitiet.html'): img(src= imgPath + 'colosbaby.png' alt="")
                            .info
                                a(href=url +  'sanpham/sanphamchitiet.html') ColosBaby
                                p Lorem ipsum dolor sit amet consectetur adipisicing elitsed do 
                        .item
                            .image
                                a(href=url +  'sanpham/sanphamchitiet.html'): img(src= imgPath + 'highgoatba.png' alt="")
                            .info
                                a(href=url +  'sanpham/sanphamchitiet.html') Oggi
                                p Lorem ipsum dolor sit amet consectetur adipisicing elitsed do 
                        .item
                            .image
                                a(href="#"): img(src= imgPath + 'goatlac.png' alt="")
                            .info
                                a(href=url +  'sanpham/sanphamchitiet.html') GoatLac
                                p Lorem ipsum dolor sit amet consectetur adipisicing elitsed do 
                        .item
                            .image
                                a(href=url +  'sanpham/sanphamchitiet.html'): img(src= imgPath + 'calosure.png' alt="")
                            .info
                                a(href=url +  'sanpham/sanphamchitiet.html') CaloSure
                                p Lorem ipsum dolor sit amet consectetur adipisicing elitsed do 
                        .item
                            .image
                                a(href=url +  'sanpham/sanphamchitiet.html'): img(src= imgPath + 'colosbaby.png')
                            .info
                                a(href=url +  'sanpham/sanphamchitiet.html') CaloSure
                                p Lorem ipsum dolor sit amet consectetur adipisicing elitsed do 
    //- sMain-6
    section.fixHeight.sMain-6(data-waypoint="70%")
        .container
            .sHomeNews
                .row
                    .page-header.col-lg-12
                        h2
                            span.icon-text.icon-ttl-6
                            span.ttl-text Hoạt động
                        h3 Truyền thông
                        p Lorem ipsum dolor sit amet, adipisicing elit, sed doLorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        .btnDiv
                            +a-btn-primary('Xem thêm',url + 'truyenthong.html')
                -
                    var news = [
                        {'title' : "Chăm sóc quý tử, bà mẹ Đinh Ngọc Diệp lo lắng điều gì? ", 'img': 'img2.jpg','url' : "#"},
                        {'title' : "Vì sao trẻ từ 6 tháng đến 3 tuổi dễ nhiễm nhiều bệnh?  ", 'img': 'img3.jpg','url' : "#"},
                        {'title' : "Cần có giải pháp giảm bệnh tiêu hóa, hô hấp ở trẻ  ", 'img': 'img4.jpg','url' : "#"},
                        {'title' : "Chăm sóc quý tử, bà mẹ Đinh Ngọc Diệp lo lắng điều gì? ", 'img': 'img2.jpg','url' : "#"},
                        {'title' : "Vì sao trẻ từ 6 tháng đến 3 tuổi dễ nhiễm nhiều bệnh?  ", 'img': 'img3.jpg','url' : "#"},
                        {'title' : "Cần có giải pháp giảm bệnh tiêu hóa, hô hấp ở trẻ  ", 'img': 'img4.jpg','url' : "#"}
                    ]
                .sNewsSlider
                    .sNewsSliderInner
                        for x in news
                            .item
                                a(href=x.url)
                                    img(data-lazy= imgPath + x.img alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg==")
                                .info
                                    a(href=x.url)
                                        = x.title
                                    p Lorem ipsum dolor sit amet, consec tetur adip isicing elit, sed do eiusmod tempor 
                                    +a-btn-link('Xem thêm','#')
    //- sMain-7
    section.sMain-7(data-waypoint="70%")
        .container
            .page-header
                h2
                    span.icon-text.icon-ttl-7
                    span.ttl-text Đăng ký
                h3 Nhận tin
            .form-style
                p Để lại email để nhận ngay những ưu đãi từ VitaDairy các mẹ nhé!
                .row
                    .col-lg-5.col-md-4
                        +input-simple("text","","Họ và tên mẹ *","",'','')
                    .col-lg-5.col-md-4
                        +input-simple("text","","Email *","",'','')
                    .col-lg-2.col-md-4
                        +a-btn-primary('Gửi','#')

