extends layouts/_layout_default

block setting
    - title = "Công ty cổ phần sữa VitaDairy Việt Nam"
    - mainActive = "san-pham";
    - bodyClass = 'noStick';

block content
    .sMainChild.sProduct.sNew.sProductList
        .sBannerChild
            img(src= imgPath + 'cate/slider-03.jpg' alt="")
            .container
                +breadcrumb([{'title':'Sản phẩm','link':'#'},{'title':'Sản phẩm cho mẹ'}])
        .sLandingNew
          .sLandingNewItem.bg-right.listColNew.fixHeight#itemNews1
            .bgImg.bgImgpc(style='background-image: url(/html/vitadairy/images/cate/me-bau.jpg);')
              .bgImgsp(style="background-image:url('/html/vitadairy/images/cate/me-bau-sp.jpg')")
                .container(style='min-height: 554px;')
                  .info
                    .page-header
                      h2
                        span.icon-text
                          svg.icon-shape(viewbox='0 0 40 40')
                            use(xlink:href='#mom1')
                        span.ttl-text Sản phẩm dinh dưỡng
                      h3.ttl-blue cho mẹ bầu
                    .des
                      | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        .sMainContent.bg-gray
            .container
              .loadMoreGroup
                .sProductGrid
                  .item.showBox
                      .itemWrap
                          .image
                              a(href=url + 'sanpham/sanphamchitiet.html')
                                  img(src= imgPath +'sanpham/img-1.jpg' alt="" )
                          .info
                              .txt COLOSBABY for MUM
                              .des
                                  h4 ColosBaby Gold for MUM 400g
                                  ul
                                      li Stet clita kasd gubergren, no sea takimata sanctus est takimata sanctus est 
                                      li Kiểm soát cân nặng
                                      li Phát triển trí não
                                      li Stet clita kasd gubergren, no sea takimata sanctus est takimata sanctus est 
                                      li Xương chắc khoẻ
                                      li Xương chắc khoẻ
                                      li Xương chắc khoẻ
                              .btnDiv
                                  +a-btn-primary('Mua ngay','#','','ic-shop')
                  .item.showBox
                      .itemWrap
                          .image.imageFull
                              a(href=url + 'sanpham/sanphamchitiet.html')
                                  img(src= imgPath +'sanpham/img-2.jpg' alt="" )
                  .item.showBox
                      .itemWrap
                          .image
                              a(href=url + 'sanpham/sanphamchitiet.html')
                                  img(src= imgPath +'sanpham/img-3.jpg' alt="" )
                          .info
                              .txt COLOSBABY for MUM<br>GIẢM ỐM VẶT THAI KỲ
                              .des
                                  h4 ColosBaby Gold for MUM 400g
                                  ul
                                      li Dễ tiêu hoá
                                      li Stet clita kasd gubergren, no sea takimata sanctus est takimata sanctus est 
                                      li Phát triển trí não
                                      li Miễn dịch khoẻ
                                      li Xương chắc khoẻ
                              .btnDiv
                                  +a-btn-primary('Mua ngay','#','','ic-shop')
                  .item.showBox
                      .itemWrap
                          .image
                              a(href=url + 'sanpham/sanphamchitiet.html')
                                  img(src= imgPath +'sanpham/img-1.jpg' alt="" )
                          .info
                              .txt COLOSBABY for MUM
                              .des
                                  h4 ColosBaby Gold for MUM 400g
                                  ul
                                      li Stet clita kasd gubergren, no sea takimata sanctus est takimata sanctus est 
                                      li Kiểm soát cân nặng
                                      li Phát triển trí não
                                      li Stet clita kasd gubergren, no sea takimata sanctus est takimata sanctus est 
                                      li Xương chắc khoẻ
                                      li Xương chắc khoẻ
                                      li Xương chắc khoẻ
                              .btnDiv
                                  +a-btn-primary('Mua ngay','#','','ic-shop')
                  .item.showBox
                      .itemWrap
                          .image.imageFull
                              a(href=url + 'sanpham/sanphamchitiet.html')
                                  img(src= imgPath +'sanpham/img-2.jpg' alt="" )
                  .item.showBox
                      .itemWrap
                          .image
                              a(href=url + 'sanpham/sanphamchitiet.html')
                                  img(src= imgPath +'sanpham/img-3.jpg' alt="" )
                          .info
                              .txt COLOSBABY for MUM<br>GIẢM ỐM VẶT THAI KỲ
                              .des
                                  h4 ColosBaby Gold for MUM 400g
                                  ul
                                      li Dễ tiêu hoá
                                      li Stet clita kasd gubergren, no sea takimata sanctus est takimata sanctus est 
                                      li Phát triển trí não
                                      li Miễn dịch khoẻ
                                      li Xương chắc khoẻ
                              .btnDiv
                                  +a-btn-primary('Mua ngay','#','','ic-shop')
                  .item.showBox
                      .itemWrap
                          .image
                              a(href=url + 'sanpham/sanphamchitiet.html')
                                  img(src= imgPath +'sanpham/img-1.jpg' alt="" )
                          .info
                              .txt COLOSBABY for MUM
                              .des
                                  h4 ColosBaby Gold for MUM 400g
                                  ul
                                      li Stet clita kasd gubergren, no sea takimata sanctus est takimata sanctus est 
                                      li Kiểm soát cân nặng
                                      li Phát triển trí não
                                      li Stet clita kasd gubergren, no sea takimata sanctus est takimata sanctus est 
                                      li Xương chắc khoẻ
                                      li Xương chắc khoẻ
                                      li Xương chắc khoẻ
                              .btnDiv
                                  +a-btn-primary('Mua ngay','#','','ic-shop')
                  .item.showBox
                      .itemWrap
                          .image.imageFull
                              a(href=url + 'sanpham/sanphamchitiet.html')
                                  img(src= imgPath +'sanpham/img-2.jpg' alt="" )
                  .item.showBox
                      .itemWrap
                          .image
                              a(href=url + 'sanpham/sanphamchitiet.html')
                                  img(src= imgPath +'sanpham/img-3.jpg' alt="" )
                          .info
                              .txt COLOSBABY for MUM<br>GIẢM ỐM VẶT THAI KỲ
                              .des
                                  h4 ColosBaby Gold for MUM 400g
                                  ul
                                      li Dễ tiêu hoá
                                      li Stet clita kasd gubergren, no sea takimata sanctus est takimata sanctus est 
                                      li Phát triển trí não
                                      li Miễn dịch khoẻ
                                      li Xương chắc khoẻ
                              .btnDiv
                                  +a-btn-primary('Mua ngay','#','','ic-shop')
                  .item.showBox
                      .itemWrap
                          .image
                              a(href=url + 'sanpham/sanphamchitiet.html')
                                  img(src= imgPath +'sanpham/img-1.jpg' alt="" )
                          .info
                              .txt COLOSBABY for MUM
                              .des
                                  h4 ColosBaby Gold for MUM 400g
                                  ul
                                      li Stet clita kasd gubergren, no sea takimata sanctus est takimata sanctus est 
                                      li Kiểm soát cân nặng
                                      li Phát triển trí não
                                      li Stet clita kasd gubergren, no sea takimata sanctus est takimata sanctus est 
                                      li Xương chắc khoẻ
                                      li Xương chắc khoẻ
                                      li Xương chắc khoẻ
                              .btnDiv
                                  +a-btn-primary('Mua ngay','#','','ic-shop')
                  .item.showBox
                      .itemWrap
                          .image.imageFull
                              a(href=url + 'sanpham/sanphamchitiet.html')
                                  img(src= imgPath +'sanpham/img-2.jpg' alt="" )
                  .item.showBox
                      .itemWrap
                          .image
                              a(href=url + 'sanpham/sanphamchitiet.html')
                                  img(src= imgPath +'sanpham/img-3.jpg' alt="" )
                          .info
                              .txt COLOSBABY for MUM<br>GIẢM ỐM VẶT THAI KỲ
                              .des
                                  h4 ColosBaby Gold for MUM 400g
                                  ul
                                      li Dễ tiêu hoá
                                      li Stet clita kasd gubergren, no sea takimata sanctus est takimata sanctus est 
                                      li Phát triển trí não
                                      li Miễn dịch khoẻ
                                      li Xương chắc khoẻ
                              .btnDiv
                                  +a-btn-primary('Mua ngay','#','','ic-shop')
                .btnDiv.text-center
                  a.btn.btn-primary.btn-btn-ic-shop.loadMore(href='#' title='Load more' data-show='9' data-load='6')
                    span Load more
        .bg-khuyen-mai
            .container
                .page-header.for-pc
                    ul#myList.list-group.list-group-tab(role='tablist')
                        li: a.active(data-toggle='list', href='#navTab1', role='tab') 
                                span.icon-text
                                    <svg viewBox="0 0 57.897 50" class="icon-shape">
                                        <use xlink:href="#ic-news"></use>
                                    </svg>
                                span.ttl-text Kiến thức dinh dưỡng
                        li: a(data-toggle='list', href='#navTab2', role='tab') 
                                span.icon-text
                                    <svg viewBox="0 0 57.897 50" class="icon-shape">
                                        <use xlink:href="#ic-khuyen-mai"></use>
                                    </svg>
                                span.ttl-text Thông tin khuyến mãi
                -
                    var news = [
                        {'title' : "VitaDairy vươn tầm thế giới cùng Gulfood Dubai", 'img': 'chiendichquangcao/img-02.jpg','url' : "#"},
                        {'title' : "VitaDairy – Thương hiệu sữa Việt hàng đầu ứng dụng…", 'img': 'chiendichquangcao/img-03.jpg','url' : "#"},
                        {'title' : "Sữa VitaDairy được Viện dinh dưỡng Việt Nam khuyên dùng", 'img': 'chiendichquangcao/img-04.jpg','url' : "#"},
                        {'title' : "Bà Nguyễn Tú Anh, nhà sáng lập Công ty VitaDairy: Nữ…", 'img': 'chiendichquangcao/img-05.jpg','url' : "#"},
                        {'title' : "VitaDairy là đối tác duy nhất của Bộ Y tế trong năm hành…", 'img': 'chiendichquangcao/img-06.jpg','url' : "#"},
                        {'title' : "Hãng sữa VitaDairy xây thêm nhà máy 6 triệu USD", 'img': 'chiendichquangcao/img-07.jpg','url' : "#"}
                    ]
                -
                    var news2 = [
                        {'title' : "2V itaDairy vươn tầm thế giới cùng Gulfood Dubai", 'img': 'chiendichquangcao/img-02.jpg','url' : "#"},
                        {'title' : "2 VitaDairy – Thương hiệu sữa Việt hàng đầu ứng dụng…", 'img': 'chiendichquangcao/img-03.jpg','url' : "#"},
                        {'title' : "2 Sữa VitaDairy được Viện dinh dưỡng Việt Nam khuyên dùng", 'img': 'chiendichquangcao/img-04.jpg','url' : "#"},
                        {'title' : "2 Bà Nguyễn Tú Anh, nhà sáng lập Công ty VitaDairy: Nữ…", 'img': 'chiendichquangcao/img-05.jpg','url' : "#"},
                        {'title' : "2 VitaDairy là đối tác duy nhất của Bộ Y tế trong năm hành…", 'img': 'chiendichquangcao/img-06.jpg','url' : "#"},
                        {'title' : "2 Hãng sữa VitaDairy xây thêm nhà máy 6 triệu USD", 'img': 'chiendichquangcao/img-07.jpg','url' : "#"}
                    ]
                .tab-content
                    .page-header.for-sp
                        h2
                            span.icon-text
                                <svg viewBox="0 0 57.897 50" class="icon-shape">
                                    <use xlink:href="#ic-news"></use>
                                </svg>
                            span.ttl-text Kiến thức dinh dưỡng
                    #navTab1.tab-pane.active(role='tabpanel')
                        .sNewsSlider
                            .sNewsSliderInner
                                for y in news2
                                    .item
                                        a(href=y.url)
                                            img(data-lazy= imgPath + y.img alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg==")
                                        .info
                                            .date 21/09/2019
                                            a(href=y.url)
                                                = y.title
                                            p 1 Lorem ipsum dolor sit amet, consec tetur adip isicing elit, sed do eiusmod tempor 
                                            .btnDiv.text-center
                                                +a-btn-primary('Xem thêm','#')
                    .page-header.for-sp
                        h2
                            span.icon-text
                                <svg viewBox="0 0 57.897 50" class="icon-shape">
                                    <use xlink:href="#ic-khuyen-mai"></use>
                                </svg>
                            span.ttl-text Thông tin khuyến mãi
                    #navTab2.tab-pane(role='tabpanel')
                        .sNewsSlider
                            .sNewsSliderInner
                                for x in news
                                    .item
                                        a(href=x.url)
                                            img(data-lazy= imgPath + x.img alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg==")
                                        .info
                                            .date 21/09/2019
                                            a(href=x.url)
                                                = x.title
                                            p 2 Lorem ipsum dolor sit amet, consec tetur adip isicing elit, sed do eiusmod tempor 
                                            .btnDiv.text-center
                                                +a-btn-primary('Xem thêm','#')