extends layouts/_layout_default

block setting
    - title = "Công ty cổ phần sữa VitaDairy Việt Nam"
    - mainActive = "bi-quyet"

block content
    .sMainChild.sNew.sNewDetail
      .sMainContent.bg-truyenthong-1
          .container
            +breadcrumb([{'title':'Truyền thông'}])
            .page-header
              h3
                span.icon-text
                    <svg viewBox="0 0 63.891 50" class="icon-shape">
                        <use xlink:href="#ic-tintuc-sukien"></use>
                    </svg>
                span.ttl-text Tin tức Sự kiện
            .sInfo.listColNew
              .bigImageEvent
                  +itemBigEvent(imgPath + 'tintucsukien/img-01.jpg','image',"#","Chính phủ Mỹ nói gì về hợp tác độc quyền sữa non của…")
              -
                  var news = [
                      {'title' : "Báo Vnexpress: VitaDairy mang sữa non ColosIgG 24h…", 'img': 'tintucsukien/img-02.jpg','url' : "#"},
                      {'title' : "Báo Eva: Sao Việt chia sẻ bí quyết chăm con khỏe mạnh…", 'img': 'tintucsukien/img-03.jpg','url' : "#"},
                      {'title' : "Báo dân Trí: Cần có giải pháp giảm bệnh tiêu hóa, hô hấp…", 'img': 'tintucsukien/img-04.jpg','url' : "#"},
                      {'title' : "Eva.vn: Muốn con khỏe mạnh, cha mẹ hãy bổ sung ngay…", 'img': 'tintucsukien/img-05.jpg','url' : "#"},
                      {'title' : "Báo Dân Trí: Trẻ thường xuyên bị nhiễm khuẩn đường tiêu…", 'img': 'tintucsukien/img-06.jpg','url' : "#"},
                      {'title' : "Báo Thanh Niên: Bí quyết nuôi con mà ít phải đến bệnh…", 'img': 'tintucsukien/img-07.jpg','url' : "#"}
                  ]
              .sNewsSlider
                  .sNewsSliderInner
                      for x in news
                          .item
                              a(href=x.url)
                                  img(data-lazy= imgPath + x.img alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg==")
                              .info
                                  .date 21/09/2019
                                  a(href=x.url)
                                      = x.title
                                  p Lorem ipsum dolor sit amet, consec tetur adip isicing elit, sed do eiusmod tempor 
                                  +a-btn-link('Xem thêm','#')
      .sMainContent.bg-truyenthong-2
          .container
            .page-header
              h3
                span.icon-text
                    <svg viewBox="0 0 63.891 50" class="icon-shape">
                        <use xlink:href="#ic-thongtinkhuyenmai"></use>
                    </svg>
                span.ttl-text Thông tin Khuyến mãi
            .sInfo.listColNew
              .bigImageEvent
                +itemBigEvent(imgPath + 'thongtinkhuyenmai/img-01.jpg','image',"#","​[Khuyến mại] Hè rộn ràng, muôn vàn quà tặng từ…")
              -
                  var news = [
                      {'title' : "[Khuyến mại] Vui khỏe cùng vitadairy", 'img': 'thongtinkhuyenmai/img-02.jpg','url' : "#"},
                      {'title' : "[Khuyến mại – miền nam] Nhận ngay quà to từ vitadairy", 'img': 'thongtinkhuyenmai/img-03.jpg','url' : "#"},
                      {'title' : "[Khuyến mại] Gia hạn chương trình khuyến mại tháng 8…", 'img': 'thongtinkhuyenmai/img-04.jpg','url' : "#"},
                      {'title' : "[Khuyến mại] Ngập tràn quà tặng từ ”chương trình…", 'img': 'thongtinkhuyenmai/img-05.jpg','url' : "#"},
                      {'title' : "[Khuyến Mại – Miền Bắc] Cơn lốc quà tặng từ Vitadairy", 'img': 'thongtinkhuyenmai/img-06.jpg','url' : "#"},
                      {'title' : "[Khuyến Mại] Vui đón hè sang ngập tràn quà tặng", 'img': 'thongtinkhuyenmai/img-07.jpg','url' : "#"}
                  ]
              .sNewsSlider
                  .sNewsSliderInner
                      for x in news
                          .item
                              a(href=x.url)
                                  img(data-lazy= imgPath + x.img alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg==")
                              .info
                                  .date 21/09/2019
                                  a(href=x.url)
                                      = x.title
                                  p Lorem ipsum dolor sit amet, consec tetur adip isicing elit, sed do eiusmod tempor 
                                  +a-btn-link('Xem thêm','#')
      .sMainContent.bg-truyenthong-3
        .container
          .page-header
            h3
              span.icon-text
                  <svg viewBox="0 0 63.891 50" class="icon-shape">
                      <use xlink:href="#ic-chiendichquangcao"></use>
                  </svg>
              span.ttl-text Chiến dịch Quảng cáo
          .sInfo.listColNew
            .bigImageEvent
              +itemBigEvent(imgPath + 'chiendichquangcao/img-01.jpg','image',"#","Sản phẩm dinh dưỡng tại Việt Nam, đã đến lúc hưởng “trái…")
            -
                var news = [
                    {'title' : "VitaDairy vươn tầm thế giới cùng Gulfood Dubai", 'img': 'chiendichquangcao/img-02.jpg','url' : "#"},
                    {'title' : "VitaDairy – Thương hiệu sữa Việt hàng đầu ứng dụng…", 'img': 'chiendichquangcao/img-03.jpg','url' : "#"},
                    {'title' : "Sữa VitaDairy được Viện dinh dưỡng Việt Nam khuyên dùng", 'img': 'chiendichquangcao/img-04.jpg','url' : "#"},
                    {'title' : "Bà Nguyễn Tú Anh, nhà sáng lập Công ty VitaDairy: Nữ…", 'img': 'chiendichquangcao/img-05.jpg','url' : "#"},
                    {'title' : "VitaDairy là đối tác duy nhất của Bộ Y tế trong năm hành…", 'img': 'chiendichquangcao/img-06.jpg','url' : "#"},
                    {'title' : "Hãng sữa VitaDairy xây thêm nhà máy 6 triệu USD", 'img': 'chiendichquangcao/img-07.jpg','url' : "#"}
              ]
            .sNewsSlider
                .sNewsSliderInner
                    for x in news
                        .item
                            a(href=x.url)
                                img(data-lazy= imgPath + x.img alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg==")
                            .info
                                .date 21/09/2019
                                a(href=x.url)
                                    = x.title
                                p Lorem ipsum dolor sit amet, consec tetur adip isicing elit, sed do eiusmod tempor 
                                +a-btn-link('Xem thêm','#')